/* Web Fonts ----------------------- */
@font-face {
  font-family: 'Abolition Regular';
  src: url('../fonts/abolition-regular-webfont.woff') format('woff');
}

/* Base Styles --------------------- */
* {
  box-sizing: border-box;
}
html {
  font-size: 20px;
}
body {
  margin: 1rem;
  color: #454959;
  font: 300 100%/1.5 'Work Sans', sans-serif;
}
a {
  color: #cc4e13;
  text-decoration: none;
}
h1, h2 {
  font: 400 4rem/1.1 'Abolition Regular', Impact, Charcoal, sans-serif;
}
h1 {
  text-shadow: 1px 2px 3px rgba(0, 34, 20, 0.5);
}
h1::after {
  content: '\2193';
  display: block;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 1.25rem;
}
img {
  width: 100%; /* responsive images */
  border-radius: 10px;
}


/* Main Styles --------------------- */
header {
  margin: -1rem -1rem 1rem;
  padding: 10vh 1rem;
  background: url(../img/mountains.jpg) center / cover no-repeat #f3753b;
  background-blend-mode: multiply;
  color: white;
}
header, footer {
  text-align: center;
}
.title {
  letter-spacing: 1px;
}
main {
  hyphens: auto;
}
#wildlife {
  padding: 20% 15%;
  border-top: 12px solid #f3753b;
  border-radius: 12px 12px 0 0;
  background: url(../img/bear.jpg) center / cover #454959; /* check CSS tricks for style guide */
  color: white;
  box-shadow: inset 0 0 20px 10px rgba(0, 10, 30, 0.8);
}
#wildlife a {
  color: #f7a27c;
}
.callout {
  display: block;
  width: 250px;
  padding: 0.25rem 1rem;
  border-radius: 20px/10px; /* 20px of horizontal radius and 10px of vertical radius */
  margin: 1rem auto; /* margin auto to center within the viewport */
  box-shadow: 1px 2px 3px rgba(0, 10, 30, 0.5);
  background-color: #cc4e13;
  color: white;
  text-align: center;
  font-size: 1.25rem;
}
/* Media Queries ------------------- */

